<!DOCTYPE html>
<html lang="en" style="font-family: Verdana">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <link href="{% static 'editor_backend/css/style.css' %}" rel="stylesheet">

    {% block head %}
    {% endblock %}

    {% block title %}
    {% endblock %}

    {% block css %}
    {% endblock %}

    {% block script %}
    {% endblock %}
</head>
<body>
<header>
    <div class="contentWrapper">
        <a href="{% url 'homepage' %}">
            <img src="{% static 'editor_backend/img/logo.png' %}">
        </a>
        <a id="searchBtn" href="/">Login</a>
    </div>
</header>

<div id="menu">
    <!-- Todo: fix menu to render with flask -->
    <a href="{% url 'homepage' %}">Startside</a>
    <a href="{% url 'articles' %}">Artikler</a>
    <a href="{% url 'editor' %}">Editor</a>
    <a href="{% url 'about' %}">Om oss</a>
    <a href="{% url 'search' %}">Søk</a>
</div>

<div id="mainContent" class="contentWrapper">
    {% block content %}
    {% endblock %}
</div>

<footer><div id="footerContainer">
    <p>
    Company name <br>
    Telefon: +99 999 99 999
    </p>
</div></footer>
</body>
</html>