<!DOCTYPE html>
<html lang="en" style="font-family: Verdana">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>Editor</title>
    <link href="{% static "editor_backend/css/style.css" %}" rel="stylesheet">

    {% block title %}
    {% endblock %}

    {% block css %}
    {% endblock %}

    {% block script %}
    {% endblock %}
</head>
<body>
<header>
    <div class="contentWrapper">
        <a href="/">
            <img src="{% static "editor_backend/img/logo.png" %}">
        </a>
        <!-- todo: Give this a proper href -->
        <button id="searchBtn" href="{{ url_for('search') }}">Search</button>
    </div>
</header>

<div id="menu">
    <!-- Todo: fix menu to render with flask -->
    <a href="/">Startside</a>
    <a href="/">Yolo</a>
    <a href="/">Nyheter</a>
    <a href="/">Om oss</a>
</div>

<div class="contentWrapper">
    {% block content %}
    {% endblock %}
</div>

<footer><div id="footerContainer">
    <p>
    Company name <br>
    Phone: +99 999 99 999
    </p>
</div></footer>
</body>
</html>