{% extends "base.html" %}

{% block head %}
{% load staticfiles %}

<title>Editor</title>

<!-- include libraries(jQuery, bootstrap) -->
<link href="{% static 'editor_backend/css/bootstrap.css' %}" rel="stylesheet">
<script src="{% static 'editor_backend/tools/jquery.js' %}"></script>
<script src="{% static 'editor_backend/tools/bootstrap.js' %}"></script>

<!-- include summernote css/js-->
<link href="{% static 'editor_backend/css/summernote.css' %}" rel="stylesheet">
<script src="{% static 'editor_backend/summernote.js' %}"></script>
<script src="{% static 'editor_backend/lang/summernote-nb-NO.js' %}"></script>
{% endblock %}

{% block content %}
<div class="contentWrapper">
    <div id="editor">
        <h1>Artikkel</h1>
        <label> Velg en mal:
            <select id="template_selector">

            </select>
        </label>
        <div id="summernote"></div>

            <script type="text/javascript">
                $(document).ready(function() {
                    $('#summernote').summernote({
                        lang: 'nb-NO'
                    });
                    $('#summernote').summernote('fontName', 'Verdana');
                });



                function httpGetAsync(theUrl, callback)
                {
                    var xmlHttp = new XMLHttpRequest();
                    xmlHttp.onreadystatechange = function() {
                        if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
                            callback = (xmlHttp.responseText);
                        $('#summernote').summernote('code', xmlHttp.responseText);
                    }
                    xmlHttp.open("GET", theUrl, true);
                    xmlHttp.send(null);

                }

                var templates = {};

                // Initilize the dict 'templates' with the default templates,
                // and fill the dropdown list with templates.
                $.getJSON("/templates/api/v1/template/", function(data) {

                    for (var i = 0; i < data.length; i++) {
                        var template_name = data[i]["Name"];
                        templates[template_name] = data[i]["Html"];

                        $('#template_selector').append($('<option/>', {
                            value: template_name,
                            text: template_name
                        }));
                     }
                    var templateSelector = document.getElementById("template_selector");
                    templateSelector.addEventListener('change', function () {
                        var selectedIndex = templateSelector.selectedIndex;
                        var selectedTemplate = templates[templateSelector[selectedIndex].value];
                        $('#summernote').summernote('code', selectedTemplate);
                    })

                });


                //httpGetAsync("{% static 'editor_backend/templates/article.html' %}")
            </script>

            <script>
                var x = document.getElementsByClassName("btn-fullscreen");
                x[0].style.visibility='hidden';
            </script>
    </div>

    <form action="upload_article" method="post">
	{% csrf_token %}
        <div class="publish">Tittel<input type="text" name="title" placeholder="Article title" required></div>
        <div class="publish">Tags<input type="text" name="tags" placeholder="Separate with comma" ></div>
        <div class="publish">Beskrivelse
            <textarea type="text" name="description" placeholder="Short summary of the article" maxlength="500" style="vertical-align: top; width: 300px; max-height:60px" required></textarea>
        </div>
		<div class="publish"><input type="hidden" name="article" id="article" ></div>
        <div class="publish"><input id="submit" type="submit" value="Submit" onclick=loadArticle()></div>
		

		
		<script>
			document.getElementById("index").checked = true;
			
			function loadArticle()
			{
				var x = $('#summernote').summernote('code');
				document.getElementById("article").value = x;
			}
		</script>
		
        <!-- Todo: Add functionality for telling where to put the article -->
    </form>
</div>
{% endblock %}
