{% extends "base.html" %}

{% block title %}
<title>Search</title>
{% endblock %}

{% block script %}
<!-- todo: make a JS which calls the search service when necessary with correct calls-->
{% endblock %}

{% block content %}
<h1>Søk</h1>
<input id="searchField">

<div id="searchResultContainer">
    <!-- Articles should be displayed on following format:
    <div class="searchResult">
        <a href="link to the article">
            <h3> Article title </h3>
            <p> Article desc </p>
        </a>
    </div> -->

</div>
{% endblock %}
