{% extends "base.html" %}

{% load staticfiles %}
{% block title %}
<title>Search</title>
{% endblock %}

{% block script %}
<!-- todo: make a JS which calls the search service when necessary with correct calls-->
<script src="{% static 'editor_backend/script/search.js' %}"></script>
{% endblock %}

{% block content %}
<div id="searchContainer">
    <h1>Søk</h1>
    <div id="searchFieldContainer">
        <input id="searchField"> <img id="searchFieldBtn" src="{% static 'editor_backend/img/search.png' %}" onclick="search()">
        <div id="wordSuggestionField"></div>
        <div id="searchResultContainer">
        </div>
    </div>

</div>
{% endblock %}
